extends layout

block content
  //banner
  .container-fluid.p-0.bg-pretty#bg-half
    .centered-25.text-white
      .typewriter.text-center
        h1 ยินดีต้อนรับเข้าสู่ กระบะ Express
        #demo
      .d-flex.justify-content-center
        .btn.btn-lg.btn-danger.rounded-0.m-2
          i.fas.fa-check-circle 
          |  รับงาน
        .btn.btn-lg.btn-outline-danger.rounded-0.m-2.text-white.border-white
          i.fas.fa-search 
          |  ประกาศหางาน
  //ข้อดี
  .d-flex.justify-content-center.centered-50
    .col-12
      .card.shadow-lg
        .card-body
        .d-flex.justify-content-center
          #item.mr-3
            .h1.text-center
              i.fas.fa-search
            .h5.text-center ค้นหางานได้ง่าย
          #item.ml-3
            .h1.text-center
              i.fas.fa-bullhorn
            .h5.text-center ประกาศสะดวก

  .row.d-flex.justify-content-center
    .col-8
      .card.shadow-lg
        .card-body.text-center
          .h3.text ขั้นตอนการใช้งาน
          ul#pills-tab.nav.nav-pills.mb-3(role='tablist').d-flex.justify-content-center
            li.nav-item
              a#pills-driver-tab.nav-link.active(data-toggle='pill' href='#pills-driver' role='tab' aria-controls='pills-driver' aria-selected='true') สำหรับผู้ขับ
            li.nav-item
              a#pills-dealer-tab.nav-link(data-toggle='pill' href='#pills-dealer' role='tab' aria-controls='pills-dealer' aria-selected='false') สำหรับผู้จ้าง
          #pills-tabContent.tab-content
            #pills-driver.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab') Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, modi beatae. Illum quis veniam labore suscipit eum culpa vel libero autem numquam, odit consequatur doloremque officiis necessitatibus ab dolorem quas! Lorem ipsum, dolor sit amet consectetur adipisicing elit. In molestiae accusantium placeat modi praesentium id officiis necessitatibus. Magni nam similique eveniet cum adipisci veritatis omnis optio? Officiis beatae culpa vel! lo
            #pills-dealer.tab-pane.fade(role='tabpanel' aria-labelledby='pills-dealer-tab') เร็วๆ นี้

    //- hr
    //- .row.text-center
      .col
        h4 สำหรับผู้ขับ
      .col
        h4 สำหรับผู้จ้าง
  script(src="/javascripts/typing.js")



