extends layout

block content
  //banner
  .container-fluid.p-0.bg-pretty#bg-half
    .centered-25.text-white
      .typewriter.text-center
        h1 กระบะ Express
        #demo
      .d-flex.justify-content-center
        a(href="/work").btn.btn-lg.btn-danger.rounded-0.m-2
          i.fas.fa-check-circle 
          |  รับงาน
        a(href="/").btn.btn-lg.btn-outline-light.rounded-0.m-2
          i.fas.fa-search 
          |  ประกาศหางาน
  //ข้อดี
  .d-flex.justify-content-center.centered-50
    .col-12
      .card.shadow-lg
        .card-body
        .d-flex.justify-content-center
          #item.mr-3
            .h1.text-center
              i.fas.fa-search
            .h5.text-center ค้นหางานได้ง่าย
          #item.ml-3
            .h1.text-center
              i.fas.fa-bullhorn
            .h5.text-center ประกาศสะดวก
  //คืออะไร
  .row.d-flex.justify-content-center
    .col-8
      .card.shadow-lg
        .card-body.text-center
          .h3.text กระบะ Express คืออะไร ?
          ul#pills-tab.nav.nav-pills.mb-3(role='tablist').d-flex.justify-content-center
            li.nav-item
              a#pills-driver-tab.nav-link.active(data-toggle='pill' href='#pills-driver' role='tab' aria-controls='pills-driver' aria-selected='true') 
                | สำหรับผู้ขับ
            li.nav-item
              a#pills-dealer-tab.nav-link(data-toggle='pill' href='#pills-dealer' role='tab' aria-controls='pills-dealer' aria-selected='false')
                | สำหรับผู้จ้าง
          #pills-tabContent.tab-content
            #pills-driver.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab')
              p
                | กระบะ Express สำหรับผู้ขับ คือเว็บไซต์ที่รวบรวมงานจ้างจาก พ่อค้า/แม่ค้า ที่ต้องการหารถกระบะเพื่อบรรทุกสินค้า 
            #pills-dealer.tab-pane.fade(role='tabpanel' aria-labelledby='pills-dealer-tab')
              p
                | กระบะ Express สำหรับผู้ประกาศ คือเว็บไซต์ที่ใช้ประกาศหาคนขับรถกระบะเพื่อบรรทุกสินค้าไปยังจุดหมายปลายทาง

  //hello gorgun
  //- .row.mt-5
    main.warpper
      br
      section.section.static
      section.section.parallax.bg1
        p hello bro

  script(src="/javascripts/typing.js")



