extends layout

block navbar 
  include component/navbar/navbar-index

block content
  //banner
  .container-fluid.p-0.bg-pretty#bg-half
    .centered-25.text-white
      .typewriter.text-center
        h1 กระบะ Express
        //- #demo
        span.txt-rotate(data-period="500" data-rotate='[ "หางานง่าย.", "สะดวกสบาย.", "ยินดีต้อนรับ.", "ประกาศงานรวดเร็ว.", "ใข้งานได้ทุกที่." ]')

      .d-flex.justify-content-center
        a(href="/work").btn.btn-lg.btn-danger.rounded-0.m-2
          i.fas.fa-check-circle 
          |  รับงาน
        a(href="/user/login").btn.btn-lg.btn-outline-light.rounded-0.m-2
          i.fas.fa-search 
          |  ประกาศหางาน
  //ข้อดี
  .d-flex.justify-content-center.centered-50
    .col-12
      .card.shadow-sm
        .card-body
        .d-flex.justify-content-center
          #item.mr-3
            .h1.text-center
              i.fas.fa-search
            .h5.text-center ค้นหางานได้ง่าย
          #item.ml-3
            .h1.text-center
              i.fas.fa-bullhorn
            .h5.text-center ประกาศสะดวก
  //คืออะไร
  .row.d-flex.justify-content-center.mt-5.mb-5
    .col-8
      .card.shadow-sm
        .card-body.text-center
          .h3.text กระบะ Express คืออะไร ?
          ul#pills-tab.nav.nav-pills.mb-3(role='tablist').d-flex.justify-content-center
            li.nav-item
              a#pills-driver-tab.nav-link.active(data-toggle='pill' href='#pills-driver' role='tab' aria-controls='pills-driver' aria-selected='true') 
                | สำหรับผู้ขับ
            li.nav-item
              a#pills-dealer-tab.nav-link(data-toggle='pill' href='#pills-dealer' role='tab' aria-controls='pills-dealer' aria-selected='false')
                | สำหรับผู้จ้าง
          #pills-tabContent.tab-content
            #pills-driver.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab')
              p
                | กระบะ Express สำหรับผู้ขับ คือเว็บไซต์ที่รวบรวมงานจ้างจาก พ่อค้า/แม่ค้า ที่ต้องการหารถกระบะเพื่อบรรทุกสินค้า 
            #pills-dealer.tab-pane.fade(role='tabpanel' aria-labelledby='pills-dealer-tab')
              p
                | กระบะ Express สำหรับผู้ประกาศ คือเว็บไซต์ที่ใช้ประกาศหาคนขับรถกระบะเพื่อบรรทุกสินค้าไปยังจุดหมายปลายทาง
  hr
  .row.d-flex.justify-content-center.mt-5
    .col-8
      .h1.text ทำไมต้องใช้ กระบะ Express
      .row.mt-5
        .col-sm-12.col-md-4.col-lg-4
          img(src="/images/c.jpg", alt="", srcset="").rounded-circle
        .col-sm-12.col-md-4.col-lg-4
        .col-sm-12.col-md-4.col-lg-4
block script
  //- script(src="/javascripts/typing.js")
  script(src="/javascripts/typing-codepen.js")



