
extends layout

block content
    .container-fluid.p-5.mt-5
        .row
            .col-sm-12.col-md-12.col-lg-4
                //- โปรไฟล์
                #profile.mb-2
                    include component/user-info
                //- menu
                #menu
                    include component/menu

            .col-sm-12.col-md-12.col-lg-8
                .card.shadow-sm
                    .card-header.d-flex.justify-content-center
                        h5 สถานะงานที่คุณเคยประกาศ
                    .card-body
                        each val in card_data
                            - console.log(val)
                            - var imgSrc = "/images/c.jpg"
                            - var id = val.id
                            - var location_start = val.location_start
                            - var location_destination =  val.location_destination
                            - var rateMoney = val.rateOfPrice
                            - var goods = val.goods
                            - var weight = val.weight
                            - var dateOfAnnounce = val.date_of_announce;
                            - var dateOfWork = val.date_of_work;
                            - var infomation = val.infomation
                            - var status = val.status
                            include ../work/work-card