extends ../layout

block navbar
    include ../component/navbar/navbar-other
block content
    .container-fluid.p-lg-5.p-md-5.p-sm-3.bg-white
        .container
            .card.shadow-sm.mt-5
                .card-body
                    .row.d-flex.justify-content-center
                        .col-sm-12.col-md-12.col-lg-6
                            h3 ข้อมูลผู้ใช้
                            hr
                            .row
                                .col-sm-4.col-md-6.col-lg-3
                                    img(src="/images/upload/"+user_data[0].picture_path alt="" srcset="").img-fluid.rounded-circle
                                .col-sm-8.col-md-6.col-lg-9
                                    h4 
                                        |ชื่อ: 
                                        = user_data[0].firstname + " " + user_data[0].lastname
                            hr
                            h3 การยืนยันตัวตน
                            if user_data[0].is_confirm === 1
                                h5.text-success
                                    i.fas.fa-user-check
                                    |   ยืนยันตัวตนแล้ว
                                h5.text-success
                                    i.fas.fa-id-card
                                    |   บัตรประชาชน
                            else
                                h5.text-danger
                                    i.fas.fa-times
                                    |  ยังไม่ได้ยืนยันตัวตน
                            hr
                            h3 จำนวนงานที่เคยประกาศทั้งหมด
                            if card_data
                                h5
                                    | - 
                                    = card_data.length
                                    |  งาน
                            else 
                                h5 ยังไม่เคยประกาศงาน
                            hr
                            h3 จำนวนงานที่ถูกรับไปแล้วทั้งหมด
                            if card_data
                                - let temp = 0;
                                each i in card_data
                                    if i.status === 1
                                        - temp++;
                                h5
                                    | - 
                                    = temp
                                    |  งาน
                            else 
                                h5 ยังไม่เคยประกาศงาน

        .container
            .card.shadow-sm.mt-5
                .card-body
                    .row.d-flex.justify-content-center
                        .col-sm-12.col-md-12.col-lg-8
                            h4 งานที่เคยประกาศ
                            hr
                            if card_data
                                - console.log(card_data)
                                h5 
                                    |ทั้งหมด 
                                    = card_data.length
                                    | งาน
                                each val in card_data
                                    include ../work/data
                                    include ../work/work-card
                            else
                                p ผู้ใช้ยังไม่เคยประกาศงาน 

