nav.navbar.navbar-expand-lg.navbar-dark.rounded.p-3.fixed-top
    a.navbar-brand(href='/')
        i.fas.fa-car-alt
        |  กระบะ express
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href='/search') 
                    i.fas.fa-search 
                    |  ประกาศหารถกระบะ
            li.nav-item.active
                a.nav-link(href='/work') 
                    i.fas.fa-check-circle
                    |  รับงาน