nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-lg.rounded.m-3
    a.navbar-brand(href='/') Graba-express
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href='/search') 
                    i.fas.fa-search 
                    |  ประกาศหารถกระบะที่รับงาน
            li.nav-item.active
                a.nav-link(href='/work') 
                    i.fas.fa-check-circle
                    |  รับงานรถกระบะ