script
    | $(document).ready(()=>{
    |   $.sweetModal({
    |   content: "
    = text
    |",
    |       icon: $.sweetModal.ICON_SUCCESS,
    |   buttons: [{
    |		label: 'ตกลง',
    |		classes: 'greenB'
    |	}]
    |       });
    |   })