div(aria-live='polite' aria-atomic='true' style='position: relative; min-height: 200px;')
  .toast(style='position: absolute; top: 0; right: 0;')
    .toast-header
      img.rounded.mr-2(src='...' alt='...')
      strong.mr-auto Bootstrap
      small 11 mins ago
      button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
        span(aria-hidden='true') &times;
    .toast-body
      | Hello, world! This is a toast message.

script
    | $(document).ready(()=>{
    |   $('.toast').toast('show');
    |})