div(aria-live='polite' aria-atomic='true' style='position: relative; min-height: 200px;')
  .toast(style='position: absolute; top: 0; right: 0;')
    .toast-header
      img.rounded.mr-2(src='/images/favicon.png' alt='').img-fluid
      strong.mr-auto Graba-express
      small 1 วินาทีที่แล้ว
      button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
        span(aria-hidden='true') &times;
    .toast-body= text

script
  | $(document).ready(()=>{
  |   $('.toast').toast('show')
  |   $('.toast').toast({autohide: false});
  |})