html{
    background-color: white;
}
.text-pink{
    color:pink;
}
.nousebg {
    background-image: url("/images/bg3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* opacity: 0.3; */
}
.font-kanit {
    font-family: 'Kanit', sans-serif;
}
.text-underline{
    text-decoration: underline;
}
.bg{
    background-color: rgb(50, 95, 175);
    height: 50%;
}
.bg-pretty{
    /* background: url(); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/images/bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}
.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.centered-25 {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.centered-50 {
    margin: 0;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    margin-left: 50%;
    /* margin-right: 25%; */
    transform: translate(-50%, -50%)
}
.bg-trans {
    opacity: .9;
    background: black;
}
.vr {
    width:10px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left:150px;
}
.scrolled-dark{
    opacity: .8;
    background: black !important;
    transition: background-color 200ms linear;
}
.scrolled-white{
    opacity: .8;
    background: white !important;
    transition: background-color 200ms linear;
}
.wrapper {
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    perspective: 2px;
}
.section { 
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }
.parallax::after {
    /*  */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}
.static {
    background: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
.bg1::after {
    background-image: url('/images/bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.bg2::after {
    background-image: url('/images/bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-3{
    background-image: url('/images/bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-black{
    background-color: black;
}
.bg-orange{
    /* background-image: linear-gradient(to bottom right, orange, yellow) !important; */

    background-color: orange !important;
}
.text-shadow{
    text-shadow: 1px 1px black;
}