extends ../layout
block content
    .container-fluid
        .d-flex.justify-content-center.mt-5
            #item
                p.text-left.kanit
                    a(href="/") 
                        |
                        i.fas.fa-arrow-left 
                        |  กลับหน้าแรก
                if err
                    //- .alert.alert-danger.kanit.bg-white(role="alert")= err
                    .card.mb-2(style="border-left-color:red;border-left-width: 5px;").shadow-sm.kanit
                        .card-body= err
                
                .card.rounded-0.shadow-sm(style='width: 18rem;')
                    .card-body.kanit
                        .card-title.mitr.text-center.h4 เข้าสู่ระบบ | ผู้ประกาศงาน
                        form.kanit.p-2(action='' method='post')
                            .form-group
                                label(for='phonenumber') เบอร์โทร
                                input#phonenumber.form-control.form-control-sm(type='text' name='phone_number' placeholder='ใส่เบอร์โทรศัพท์ของคุณ' required='' autofocus='' minlength="10" maxlength="10")
                            .form-group
                                label(for='password') รหัสผ่าน
                                input#password.form-control.form-control-sm(type='password' name='password' placeholder='ใส่รหัสผ่านของคุณ' required='')
                            button.btn.btn-block.btn-sm.text-center.rounded-0.bg-orange.text-white(type='submit') เข้าสู่ระบบ
                            .text-right
                                a(href="/forget-password",style="font-size:0.9rem;") ลืมรหัสผ่าน ?
                            hr
                            .card-subtitle.p.kanit.text-muted
                                | ยังไม่มีบัญชี 
                                a(href='/sign-up') สมัครสมาชิก
                