nav#navbar.navbar.navbar-expand-lg.navbar-light.shadow-sm.fixed-top
    a.navbar-brand(href='/')
        i.fas.fa-car-alt
        |  กระบะ express
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        i.fas.fa-chevron-circle-down.text-white.text-shadow
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href='/work') 
                    i.fas.fa-check-circle
                    |  รับงาน
            li.nav-item.active
                a.nav-link(href='/user') 
                    i.fas.fa-search 
                    |  ประกาศหารถกระบะ