nav#navbar.navbar.navbar-expand-lg.navbar-dark.fixed-top.text-shadow
    a.navbar-brand(href='/').text-white
        i.fas.fa-car-alt
        |  กระบะ express
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        i.fas.fa-chevron-circle-down.text-white.text-shadow
    #navbarSupportedContent.collapse.navbar-collapse.text-white
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href='/user').text-white
                    i.fas.fa-search 
                    |  ประกาศหารถกระบะ
            li.nav-item.active
                a.nav-link(href='/work').text-white 
                    i.fas.fa-check-circle
                    |  รับงาน