- var random_work_id = val.random_work_id
- var imgSrc = "/images/c.jpg"
- var firstname = val.firstname
- var lastname = val.lastname
- var work_id = val.work_id
- var rateMoney = val.rateOfPrice
- var goods = val.goods
- var weight = val.weight
- var information = val.information
- var status = val.status
- var province_start_name = val.province_start_name
- var amphure_start_name = val.amphure_start_name
- var district_start_name = val.district_start_name
- var province_destination_name  = val.province_destination_name
- var amphure_destination_name = val.amphure_destination_name
- var district_destination_name = val.district_destination_name
- var dateOfWork = moment(val.date_of_work).format('llll')
- var dateOfAnnounce = moment(val.date_of_announce).format('llll');
- var random_user_id = val.random_user_id;