extends ../layout
block navbar
    include ../component/navbar/navbar-other

block content
    .container-fluid.mt-5.p-5
        h4 ค้นหางานสำหรับผู้ขับรถ
        //- .form-group.row
            .col-5
                label(for="") เริ่มต้น
                select#orderBy(name="").form-control
                    option(value="" default=true) -
                    for i in province_data
                        option(value=i  default=true)= i
            .col-2.form-inline.d-flex.justify-content-center
                i.fas.fa-arrow-right.text-dark
            .col-5
                label(for="") จุดหมาย    
                select#orderBy(name="").form-control
                    option(value="" default=true) -
                    for i in province_data
                        option(value=i  default=true)= i
        each val in card_data
            - var imgSrc = "/images/c.jpg"
            - var firstname = val.firstname
            - var lastname = val.lastname
            - var id = val.id
            - var rateMoney = val.rateOfPrice
            - var goods = val.goods
            - var weight = val.weight
            - var dateOfAnnounce = val.date_of_announce;
            - var dateOfWork = val.date_of_work;
            - var information = val.information
            - var status = val.status
            - var province_start_name = val.province_start_name
            - var amphure_start_name = val.amphure_start_name
            - var district_start_name = val.district_start_name
            - var province_destination_name  = val.province_destination_name
            - var amphure_destination_name = val.amphure_destination_name
            - var district_destination_name = val.district_destination_name
            
            include ../work/work-card
        #loader.d-flex.justify-content-center
            .spinner-border.text-primary(role='status').text-center
                span.sr-only กำลังโหลด

