extends ../layout
block navbar
    include ../component/navbar/navbar-other
block content
    each val in card_data
        include ./data
        .container-fluid.mt-5.p-5.bg-white
            if inserted_status
                - var text = "ประกาศงานสำเร็จ"
                include ../component/sweetmodal
            a(href="/work").text-dark.mt-5
                i.fas.fa-arrow-left
                |  ย้อนกลับ
            .card.shadow-sm
                .card-header.d-flex.justify-content-between
                    a(href="/user/info/"+random_user_id target="_blank").d-flex
                        img(src=imgSrc, alt="" srcset="" height="40px").rounded-circle
                        p.text-inline= firstname + " " + lastname
                    p= dateOfAnnounce
                .card-body
                    //เส้นทาง
                    .row
                        .col.d-flex
                            h5.m-2 
                                i.fas.fa-location-arrow.text-danger
                            .row
                                .col 
                                    p จาก : 
                                        |จังหวัด
                                        = province_start_name 
                                        |  อำเภอ
                                        = amphure_start_name
                                        |  ตำบล
                                        = district_start_name
                                .col-12
                                    i.fas.fa-arrow-down.text-danger
                                .col
                                    p ไปยัง : 
                                        |จังหวัด
                                        = province_destination_name 
                                        |  อำเภอ
                                        = amphure_destination_name
                                        |  ตำบล
                                        = district_destination_name
                    //สินค้า
                    if goods
                        .row
                            .col.d-flex
                                h5.m-2
                                    i.fas.fa-shopping-cart.text-warning
                                p.m-2 สินค้า : 
                                    = goods
                    //น้ำหนักสินค้า
                    if weight
                        .row
                            .col.d-flex
                                h5.m-2
                                    i.fas.fa-weight 
                                p.m-2 น้ำหนัก : 
                                    = weight
                    //เรทราคา
                    if rateMoney
                        .row
                            .col.d-flex
                                h5.m-2
                                    i.fas.fa-money-bill-wave-alt.text-success
                                p.m-2 ราคา/เรทราคา : 
                                    = rateMoney
                    //- วันที่ทำงาน
                    if dateOfWork
                        .row 
                            .col.d-flex
                                h5.m-2
                                    i.fas.fa-calendar-day.text-pink
                                p.m-2 วันที่ทำงาน : 
                                    = dateOfWork

                    //ข้อมูลเพิ่มเติม
                    if information
                        .row
                            .col.d-flex
                                h5.m-2
                                    i.fas.fa-info-circle.text-primary
                                p.m-2 ข้อมูลเพิ่มเติม : 
                                    = information
                if status == 0
                    a(href="/work/info/"+random_work_id).card-footer.text-center
                        | ติดต่อผู้ประกาศ
                else
                    .card-footer.text-center.disabled.bg-success.text-white
                        i.fas.fa-check-circle
                        | มีผู้รับงานแล้ว