if card_data
    each val in card_data
        include data
        include work-card
    .d-flex.justify-content-center
        //- .spinner-border.text-primary(role='status').text-center
            span.sr-only กำลังโหลด
        button#seemore_btn.seemore_btn.btn.btn-dark
            .spinner-border.text-danger(role='status').text-center 
            | ดูเพิ่มเติม