extends ../layout

block content
    .container-fluid
        .h1 งานที่ประกาศทั้งหมด
        hr
        .form-group.row
            .col-5
                select#orderBy(name="").form-control
                    option(value="" default=true) -
                    for i in province_data
                        option(value=i  default=true)= i
            .col-2.form-inline.d-flex.justify-content-center
                i.fas.fa-arrow-right.text-dark
            .col-5    
                select#orderBy(name="").form-control
                    option(value="" default=true) -
                    for i in province_data
                        option(value=i  default=true)= i
        - var driverName = "นายเอ บี"
        - var imgSrc = "/images/c.jpg"
        - var start = "นครปฐม"
        - var destination = "กทม"
        - var rateMoney = 2000
        - var describe = "ไม่มี"
        - for (var x = 0; x < 3; x++)
            include ../work/work-card

