.row.mb-2
    .col-12
        .card.shadow-sm
            .card-header.d-flex.justify-content-between.bg-white
                #user.d-flex
                    img(src=imgSrc, alt="" srcset="" height="40px").rounded-circle
                    p.text-inline= firstname + " " + lastname
                #contact
                    if status==1 
                        h5
                            span.badge.badge-success มีผู้รับงานแล้ว
                    else
                        small ประกาศเมื่อ 
                            = dateOfAnnounce
                        h5
                            span.badge.badge-info เปิดรับงาน
                        if !loggedin
                            p
                                a(href="/work/info/"+random_work_id target="_blank").text-primary
                                    | ติดต่องาน 
                                    i.fas.fa-phone
            .card-body
                //เส้นทาง
                .row
                    .col.d-flex
                        h5.m-2 
                            i.fas.fa-location-arrow.text-danger
                        .row
                            .col 
                                p จาก : 
                                    |จังหวัด
                                    = province_start_name 
                                    |  อำเภอ
                                    = amphure_start_name
                                    |  ตำบล
                                    = district_start_name
                            .col-12
                                i.fas.fa-arrow-down.text-danger
                            .col
                                p ไปยัง : 
                                    |จังหวัด
                                    = province_destination_name 
                                    |  อำเภอ
                                    = amphure_destination_name
                                    |  ตำบล
                                    = district_destination_name
                //สินค้า
                if goods
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-shopping-cart.text-warning
                            p.m-2 สินค้า : 
                                = goods
                //น้ำหนักสินค้า
                if weight
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-weight 
                            p.m-2 น้ำหนักสินค้า : 
                                = weight
                //เรทราคา
                if rateMoney
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-money-bill-wave-alt.text-success
                            p.m-2 เรทราคา/ราคา : 
                                = rateMoney
                //ข้อมูลเพิ่มเติม
                if information
                    .row
                        .col.d-flex
                            h5.m-2
                                i.fas.fa-info-circle.text-primary
                            p.m-2 ข้อมูลเพิ่มเติม : 
                                = information
            a(href="/work/info/"+random_work_id target="_blank").btn.text-center.text-underline.btn-dark.rounded-0
                | ดูข้อมูลเพิ่มเติม
