ul.list-group
    li.list-group-item.bg-dark.disabled.text-white เมนู
    li.list-group-item
        a(href="/user")
            i.fas.fa-arrow-right
            |   หน้าแรก
    li.list-group-item
        a(href="/user/manage-work")
            i.fas.fa-arrow-right 
            |  จัดการงาน
    li.list-group-item
        a(href="/user/announce")
            i.fas.fa-arrow-right 
            |  ประกาศงาน
    li.list-group-item
        a(href="/user/change_picture")
            i.fas.fa-arrow-right 
            |  เปลี่ยนรูปโปรไฟล์