.card.shadow-sm
    .card-header.d-flex.justify-content-center
        h5 เกี่ยวกับคุณ
    .card-body
        .row
            a(href="/user/change_picture")
                img(src="/images/upload/"+user_data[0].picture_path alt="" srcset="").rounded-circle.mx-auto.d-block.img-fluid
        p ชื่อ-นามสกุล : 
            = user_data[0].firstname + " " + user_data[0].lastname
        p เบอร์โทรศัพท์ :
            = user_data[0].phone_number
        p อายุ : 
            = user_data[0].age
        p เลขบัตรประชาชน : 
            = user_data[0].id_card
