.card.shadow-sm
    .card-header.d-flex.justify-content-center
        h5 เกี่ยวกับคุณ
    .card-body
        .row
            img(src="/images/c.jpg" alt="" srcset="").rounded-circle.mx-auto.d-block.img-fluid
        p ชื่อ-นามสกุล : 
            = firstname + " " + lastname
        p เบอร์โทรศัพท์ :
            = phone_number
        p อายุ : 
            = age
        p เลขบัตรประชาชน : 
            = id_card
            